.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}


.light-theme {
  --white: #ffffff;
  --black: #333;
  --sidebar: #33383e;
}

.dark-theme {
  --white: #222;
  --black: #fff;
  --sidebar: #fff;
}